 <script src="https://gitlab.com/ReadyBear64/flashcave/-/raw/master/ruffle/ruffle.js"></script>
      <div class="swf"dir="ltr" style="text-align: left;" trbidi="on">
        <embed height="480" pluginspage=" http://www.macromedia.com/go/getflashplayer" src="https://gitlab.com/ReadyBear64/flashcave/-/raw/master/ruffle/bloxors.swf" type="application/x-shockwave-flash" width="620"></embed>
